@import "bulma";

html, body {
  height: 100%;
}

body {
  background: $white-ter;
}

#app {
  padding-top: 2em;
}

.filter-inputs {
  input {
    display: inline-block;
    width: 50%;
  }
}

.columns,.columns:last-child, .columns:not(:last-child) {
  margin: 0;
}

ul {
  list-style-type: none;
}

#url-input {
  transition: ease 1s;
}

#url-input.empty {
  margin-top: 15em;
}

#edit-area {
  transition: ease 1.1s;
}

#edit-area.hidden {
  opacity: 0;
}