@import "bulma";

html, body {
  height: 100%;
}

body {
  background: $white-ter;
}

#app {
  padding-top: 2em;
}

.filter-inputs {
  input {
    display: inline-block;
    width: 50%;
  }
}

ul {
  list-style-type: none;
}